

body {
    font-family: 'Arial', sans-serif; 
    background-color: #71b373; 
    margin: 0px;
    padding: 0px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.label {
    font-weight: bold; 
}

.survey-form {
    display: flex; 
    margin: 30px;
    flex-direction: column; 
    background-color: #ffffff; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    width: 100%; 
    padding: 2rem; 
}

h1 {
    margin-bottom: 0.5rem;
    color: #333;
    
}

p {
    margin-bottom: 1rem; 
    color: #666; 
    
}

.form-group {
    margin-bottom: 1rem; 
    display: flex; 
    flex-direction: column; 
}

label {
    margin-bottom: 0.5rem; 
    color: #333; 
}

.input, select, textarea {
    padding: 0.5rem; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 1rem; 
    width: 100%; 
}

.input-email {
    padding: 0.5rem; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 1rem; 
    width: 100%; 
    height: 20px; 
}

button {
    padding: 0.75rem; 
    border: none; 
    border-radius: 4px; 
    background-color: #4CAF50; 
    color: white; 
    font-size: 1rem; 
    cursor: pointer; 
}

button:hover {
    background-color: #45a049; 
}

.flex-parent-element {
    display: flex;
    width: 100%; 
}

.flex-child-element {
    flex: 1; 
    margin: 10px; 
}

.flex-child-element:first-child {
    margin-right: 20px; 
}

/* Age radio buttons container */
.radio-button {
    display: flex;
    flex-direction:column;
   justify-content: end;
    position: relative; 
    height: 100px;
    padding: 10px; 
    border: 1px solid #888383; 
    border-radius: 8px; 
    margin-bottom: 10px; 
}

.age-label {
    position: absolute; 
    top: -12px; 
    left: 20px; 
    background-color: #fff; 
    padding: 0 5px; 
}

/* Phone number input group */
.phone-group {
    display: flex; 
    align-items: center; 
}

.country-code {   
    background-color: #f9f9f9; 
    font-weight: bold; 
    padding-right: 5px; 
    width: auto; 
}

.phone-number {
    border: 1px solid #ccc; 
    border-radius: 0 4px 4px 0; 
    padding: 10px; 
    flex-grow: 1; 
}

/* Email input group */
.email-group {
    display: flex; 
    align-items: center;
}

.email-domain {
    margin-left: 5px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    background-color: #f9f9f9; 
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .survey-form {
        display: flex; 
        margin: 5px;
        flex-direction: column; 
        justify-content: space-evenly;
        background-color: #ffffff; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        max-width: 480px; 
        width: 50%; 
        padding: 1rem; 
    }
}